<table class="table table-striped border">

  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Position</th>
      <th scope="col">Department</th>
    </tr>
  </thead>

  <tbody>

    <tr *ngFor="let employee of employees">

      <th scope="row">{{ employee.id }}</th>
      <td>{{ employee.name }}</td>
      <td>{{ employee.position }}</td>

      <td>
        <span class="badge bg-primary">
          {{ employee.department }}
        </span>
      </td>

    </tr>

  </tbody>

</table>